:root {
    --brand-purple: #9d58e2;
    --brand-green: #00CE96;
    --brand-dark: #112B20;
    --brand-grey: #8E9E9D;
}

* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--brand-grey);
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: var(--brand-green);
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: var(--brand-dark);
    font-family: 'Advent Pro', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

.header {
    border-bottom: .15rem solid var(--brand-grey);
    color: var(--brand-dark);
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
}

    .header .row {
        padding: 1rem;
    }

.screens {
    display: flex;
    overflow-x: hidden;
}

.screen {
    flex: 0 0 100%;
    padding-top: 4.5rem;
    transition: .15s ease-out;
}

.row {
    max-width: 55rem;
    margin: auto;
    padding: 3rem 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid__col {
    flex: 0 0 48%;
    margin-bottom: 4%;
}

    .grid--artists .grid__col {
        flex: 0 0 100%;
        margin-bottom: 9%;
    }

@media (min-width: 600px) {
    .grid__col {
        flex: 0 0 32%;
        margin-bottom: 2%;
    }

    .grid--artists .grid__col {
        flex: 0 0 47%;
    }
}

.screen__header {
    margin-bottom: 3rem;
}

.title {
    margin: 0;
    font-size: 2.3rem;
}

.subtitle {
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: 0;
    color: var(--brand-grey);
}

.tile {
    color: var(--brand-grey);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 8rem;
    outline: 4px solid transparent;
    display: flex;
    height: 100%;
    position: relative;
}

    .tile:before {
        content: '';
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        border: .1rem solid rgba(255,255,255, .6);
        display: block;
        background: rgba(255,255,255, .5);
        position: absolute;
        top: .5rem;
        left: .5rem;
        transition: .15s ease-out;
    }

    .tile.active {
        animation: selectTile .15s ease-out;
        outline-color: var(--brand-purple);
    }

    .tile:hover:before,
    .tile.active:before {
        background: var(--brand-purple);
        border-color: #fff;
    }

.tile--blackwork { background-image: url('img/blackwork.jpg'); }
.tile--graphic { background-image: url('img/graphic.jpg'); }
.tile--traditional { background-image: url('img/traditional.jpg'); }
.tile--neotraditional { background-image: url('img/neotraditional.jpg'); }
.tile--realistic { background-image: url('img/realistic.png'); }
.tile--oriental { background-image: url('img/oriental.jpg'); }
.tile--polynesian { background-image: url('img/polynesian.png'); }
.tile--watercolor { background-image: url('img/watercolor.png'); }

.tile--berlin { background-image: url('img/berlin.jpg'); }
.tile--london { background-image: url('img/london.jpg'); }
.tile--paris { background-image: url('img/paris.jpg'); }
.tile--rome { background-image: url('img/rome.jpg'); }

.tile__title {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, .5);
    align-self: flex-end;
    width: 100%;
}

    .active .tile__title {
        background: var(--brand-purple);
    }

@keyframes selectTile {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.actions {
    text-align: center;
    margin-top: 2rem;
}

.button {
    font-weight: 600;
    font-family: 'Advent Pro', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: .15rem solid var(--brand-green);
    user-select: none;
    padding: .75rem 3rem;
    font-size: 1.1rem;
    line-height: 1;
    border-radius: .15rem;
    color: var(--brand-green);
    text-transform: uppercase;
    background-color: transparent;
    transition: .15s ease-out;
}

.button:hover {
    opacity: .7;
}

.button:active {
    transition: none;
    opacity: 1;
}

.artist {
    margin-bottom: 1rem;
    color: #fff;
}

.artist__content {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 12rem;
}

.artist__meta {
    padding: 1rem;
    background: rgba(0, 0, 0, .5);
}

.artist__name {
    margin: 0;
    margin-bottom: .15rem;
    color: #fff;
    font-size: 1.3rem;
}

.artist__price {
    float: right;
}

    .artist__price span {
        font-size: .9rem;
        opacity: .5;
    }

.artist__styles {
    opacity: .75;
}

.artist--mirja .artist__content {
    background-image: url('img/mirja-fenris.jpg');
}

.artist--lus .artist__content {
    background-image: url('img/lus-lips.jpg');
}

.artist--jondix .artist__content {
    background-image: url('img/jondix.jpg');
}

.artist--xam .artist__content {
    background-image: url('img/xam.jpg');
}
